<% provide(:title, "Help") %>
<h1>I am going to add some Help here</h1>
<title><%= yield(:title) %> | Ruby on Rails</title>
<p>Wanna find me ?</p>
<h1>This is my website </h1>
<p> You do not need to concern this <a href="http://onepiece.wikia.com/wiki/Raftel" > Raftel</a></p>
